@import "assets/font/font.css";
@import "assets/css/normalize.css";
@import "assets/slick/slick.css";
@import "assets/slick/slick-theme.css";
@import "assets/css/modal.css";
@import "assets/css/header.css";
@import "assets/css/home.css";
@import "assets/css/global.css";
@import "assets/css/footer.css";

