.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
.header-logo {
    width: 104px;
    margin-left: 18px;
}
.header-logo a{
    display: flex;
}
.header-menu{
    width: 80%;

}
.sidenav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo-menu-mob{
    display: none;
}
.sidenav>ul {
    display: flex;
    align-items: center;
    margin-left: -3px;
}
.sidenav>ul li{
    margin-right: 30px;
}
.sidenav>ul li:first-child{
    display: none;
}
.sidenav>ul li a{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #282828;
    position: relative;
    transition: 0.3s;
}
.sidenav>ul li a:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 1px;
    background: #282828;
    transition: 0.3s;

}
.sidenav>ul li a:hover:before{
    width: 100%;
}
.header-link-soc{
    display: flex;
    align-items: center;
}
.header-link-soc ul{
    display: flex;
    align-items: center;
}
.header-link-soc ul li{
    margin-right: 10px;
}
.header-link-soc ul li a{
    display: flex;
}
.header-phone{
    text-align: right;
    margin-left: 50px;
    margin-top: -21px;
}
.header-phone p{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #ABABAB;
    margin-bottom: 8px;
}
.header-phone a{
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #282828;
}
.open-menu {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
}
.open-menu span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background: #282828;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
}
.close-menu {
    display: none;
}

.close-menu span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #FFFFFF;

}
.close-menu span:first-child, .close-menu span:last-child {
    display: none;
}
.close-menu span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}
.close-menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.anim-menu {
    -webkit-transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.body_fix .for-mobile-bg {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
.body_fix {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
.body_fix .open-menu.close-menu {
    z-index: 9999999;
    right: 10px;
    width: 24px;
    height: 24px;
}

@media (max-width: 1299px){
    .header-logo {
        margin-left: 0;
    }
}
@media (max-width: 1199px){
    .sidenav>ul {
        margin-left: 0;
    }
    .info-transport-photo {
        background-position: center;
    }

}

@media (max-width: 991px) {
    .header-main {
        padding: 12px 0;
    }
    .header-menu{
        position: relative;
    }

    .menu-width {
        width: 0% !important;
        -webkit-transition: all 0.5s ease 0s !important;
        -o-transition: all 0.5s ease 0s !important;
        transition: all 0.5s ease 0s !important;
    }
    .transition-menu {
        width: 100% !important;
        -webkit-transition: all 0.5s ease 0s !important;
        -o-transition: all 0.5s ease 0s !important;
        transition: all 0.5s ease 0s !important;
    }
    .open-menu span{
        border-radius: 4px;
    }
    .open-menu span:nth-child(2), .open-menu span:nth-child(3) {
        top: 8px;
    }

    .open-menu span:last-child {
        top: 16px;
    }
    .open-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        right: 0;
        z-index: 999;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu-cnt {
        margin: 0;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99999;
        top: 0;
        right: 0;
        overflow-x: hidden;
        padding: 30px 0 45px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: center;
        background: #1D4462;
    }
    .sidenav {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        height: 100%;
        justify-content: space-between;
    }
    .logo-menu-mob {
        display: flex;
    }

    .sidenav>ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .sidenav>ul li:first-child {
        display: block;
    }
    .sidenav>ul  li {
        width: 100%;
        z-index: 9999;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 16px;
        text-align: center;
    }
    .sidenav>ul li a {
        font-weight: 300;
        font-size: 28px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    }
    .sidenav>ul li a:before {
        background: #FFFFFF;
    }
    .header-phone p{
        display: none;
    }
    .header-link-soc {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-phone {
        text-align: center;
        margin-left: 0;
        margin-top: 30px;
    }
    .header-link-soc ul li a svg path{
        fill: #FFFFFF;
    }
    .header-phone a{
        color: #FFFFFF;
    }
    .header-logo {
        width: 110px;
    }
}
@media (max-width: 767px){
    .header-logo {
        width: 62px;
    }
}

@media (max-width: 576px){
    .sidenav>ul li a {
        font-size: 22px;
        line-height: 28px;
    }
    .body_fix .open-menu.close-menu {
        right: 0px;
        width: 18px;
        height: 18px;
    }
    .menu-cnt {
        padding: 50px 0 45px;
    }
    .logo-menu-mob {
        max-width: 135px;
    }
}